# exclude all files from folders
env_files/*

volumes/geoserver/*

volumes/nginx/nginx.template.*
volumes/nginx/trash/*

trash/*

# just include the '.EXAMPLE' files inside 'env' folder
!env_files/*.EXAMPLE
