.env

# exclude all files, but just include the '.EXAMPLE' files inside 'env' folder
env_files/*
!env_files/*.EXAMPLE

# ignore specific volumes
volumes/geoserver
volumes/pgadmin4
volumes/postgresql

# unnecessary files
.trash
