upstream vgimws {
	server pauliceia_vgimws:8888;
}

upstream geocoding {
	server pauliceia_geocoding:3000;
}

upstream edit {
	server pauliceia_edit:8000;
}

upstream portainer {
	server pauliceia_portainer:9000;
}

upstream geoserver {
	server pauliceia_geoserver:8080;
}

upstream tomcat {
    server pauliceia_tomcat:8080;
}

server {
	listen         $NGINX_PORT default_server;
    listen         [::]:$NGINX_PORT default_server;

    client_max_body_size 50M;
    root /var/www/html;
    index index.php index.html index.htm;
    server_name _;
    charset  utf-8;

	## PAULICEIA PORTAL

	location /portal {
		try_files $uri @portal;
	}

	## PAULICEIA SERVICES

	location /api/vgi/ {
		proxy_set_header        Host            $host;
		proxy_set_header        X-Real-IP       $remote_addr;
		proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_pass http://vgimws/;
	}

	location /api/geocoding {
		proxy_pass http://geocoding;
	}

	location /edit {
		try_files $uri $uri/ /index.php?q=$uri&$args;
	}

	## THIRD PARTY SERVICES

    location /portainer/ {
        proxy_http_version 1.1;
        proxy_set_header Connection "";
        proxy_pass http://portainer/;
    }

    location /portainer/ws/ {
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_http_version 1.1;
        proxy_pass http://portainer/ws/;
    }

	location /geoserver {
        proxy_pass http://geoserver;
        proxy_set_header Host $http_host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    location /tomcat/ {
		proxy_pass http://tomcat/;
		include /etc/nginx/proxy_params;
    }

    location /prj2epsg {
		proxy_pass http://tomcat/prj2epsg;
		include /etc/nginx/proxy_params;
    }

	## OTHER

	location @portal {
            rewrite ^.*$ /portal/index.html last;
    }

	location ~ \.php$ {
		try_files $uri =404;
		fastcgi_split_path_info ^(.+\.php)(/.+)$;
		fastcgi_pass php;
		fastcgi_index index.php;
		include fastcgi_params;
		fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
		fastcgi_param PATH_INFO $fastcgi_path_info;
	}

	## REDIRECTS

	location /wiki {
        return 301 http://www.dpi.inpe.br/pauliceia/;
    }

	location /github {
        return 301 https://github.com/Pauliceia;
    }

	location /google49d25117bc3694e5.html {
        try_files $uri /google49d25117bc3694e5.html;
    }

    location /sitemap.xml {
        try_files $uri /sitemap.xml;
    }

    location /robots.txt {
        try_files $uri /robots.txt;
    }

    location / {
        return 301 http://www.pauliceia.dpi.inpe.br/portal/home;
    }
}
